.section {
  display: flex;
  margin-top: 73px;
  align-items: center;

  .info {
    width: 100%;

    > img {
      margin-left: 18px;
      margin-top: 2px;
    }
  }

  p {
    color: #51c9ff;
    font-weight: 600;
    font-size: 20px;
  }

  h1 {
    margin-top: 12px;
    color: #010d82;
    font-size: 42px;
    line-height: 60px;
  }

  span {
    display: block;
    font-size: 18px;
    color: #84879e;
    margin: 36px 0 43px;
  }

  .productButtonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;

    button {
      display: flex;
      padding: 18px 44px;
      border: 0;
      color: #010d82;
      background-color: transparent;
      border-radius: 8px;
      align-items: center;

      font-size: 16px;
      font-weight: 500;

      img {
        margin-right: 10px;
      }
    }
    button:nth-child(1) {
      background-color: #010d82;
      color: #ffffff;
      transition: filter 0.2s;

      &:hover {
        filter: opacity(0.8);
      }
    }
    button + button {
      margin-left: 40px;
    }
  }
}
